* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgray;
}

.container {
  margin: 100px auto;
  width: 1000px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.29);
}

.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: auto;
  margin-top: 40px;
  width: 480px;
}

.hello {
  font-size: 25px;
  margin-bottom: 15px;
}

.desc {
  margin-bottom: 30px;
  font-size: 15px;
}

button {
  background-color: black;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-size: 17px;
  padding: 5px 30px;
  text-decoration: none;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: unset;
}

.sosmed {
  display: flex;
  justify-content: center;
  font-size: 50px;
  gap: 30px;
  margin: 24px;
}

.profil {
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.29);
}

img {
  width: 300px;
  border-radius: 8px 8px 0 0;
}

.caption {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
